<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">

        <div class="row">
          <!--LEFT 1-->
          <div class="col-md-6">
            <app-skill [skillName]="'Java'" [skillLevel]="100"></app-skill>
          </div>

          <div class="col-md-6">
            <!--RIGHT 1-->
            <app-skill [skillName]="'C#'" [skillLevel]="100"></app-skill>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!--LEFT 2-->
            <app-skill [skillName]="'Typescript'" [skillLevel]="100"></app-skill>
          </div>

          <div class="col-md-6">
            <!--RIGHT 2-->
            <app-skill [skillName]="'Rust'" [skillLevel]="100"></app-skill>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!--LEFT 3-->
            <app-skill [skillName]="'HTML'" [skillLevel]="100"></app-skill>
          </div>

          <div class="col-md-6">
            <!--RIGHT 3-->
            <app-skill [skillName]="'CSS & SCSS'" [skillLevel]="100"></app-skill>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!--LEFT 4-->
            <app-skill [skillName]="'Angular'" [skillLevel]="100"></app-skill>
          </div>

          <div class="col-md-6">
            <!--RIGHT 4-->
            <app-skill [skillName]="'React'" [skillLevel]="100"></app-skill>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!--LEFT 5-->
            <app-skill [skillName]="'Spring Boot'" [skillLevel]="100"></app-skill>
          </div>

          <div class="col-md-6">
            <!--RIGHT 5-->
            <app-skill [skillName]="'ASP.NET&CORE'" [skillLevel]="100"></app-skill>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!--LEFT 6-->
            <app-skill [skillName]="'Android'" [skillLevel]="100"></app-skill>
          </div>

          <div class="col-md-6">
            <!--RIGHT 6-->
            <app-skill [skillName]="'IONIC'" [skillLevel]="100"></app-skill>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!--LEFT 7-->
            <app-skill [skillName]="'Docker'" [skillLevel]="100"></app-skill>
          </div>

          <div class="col-md-6">
            <!--RIGHT 7-->
            <app-skill [skillName]="'Kubernetes & Openshift'" [skillLevel]="100"></app-skill>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!--LEFT 8-->
            <app-skill [skillName]="'SQL'" [skillLevel]="100"></app-skill>
          </div>

          <div class="col-md-6">
            <!--RIGHT 8-->
            <app-skill [skillName]="'NOSQL'" [skillLevel]="100"></app-skill>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!--LEFT 9-->
            <app-skill [skillName]="'Git'" [skillLevel]="100"></app-skill>
          </div>

          <div class="col-md-6">
            <!--RIGHT 9-->
            <app-skill [skillName]="'Github & Bitbucket'" [skillLevel]="100"></app-skill>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!--LEFT 10-->
            <app-skill [skillName]="'AWS'" [skillLevel]="100"></app-skill>
          </div>

          <div class="col-md-6">
            <!--RIGHT 10-->
            <app-skill [skillName]="'Firebase'" [skillLevel]="100"></app-skill>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!--LEFT 11-->
            <app-skill [skillName]="'Apigee'" [skillLevel]="100"></app-skill>
          </div>

          <div class="col-md-6">
            <!--RIGHT 11-->
            <app-skill [skillName]="'Auth0'" [skillLevel]="100"></app-skill>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!--LEFT 12-->
            <app-skill [skillName]="'Prometheus, Elasticsearch/Opensearch, Logstash'"
              [skillLevel]="100"></app-skill>
          </div>

          <div class="col-md-6">
            <!--RIGHT 12-->
            <app-skill [skillName]="'Grafana, Kibana, Splunk'" [skillLevel]="100"></app-skill>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!--LEFT 13-->
            <app-skill [skillName]="'SCRUM & XP'" [skillLevel]="100"></app-skill>
          </div>

          <div class="col-md-6">
            <!--RIGHT 32-->
            <app-skill [skillName]="'KANBAN'" [skillLevel]="100"></app-skill>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>