<div class="section" id="skill">
    <div class="container">
      <div class="h4 text-center mb-4 title">Skills</div>
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="card-body">

          <div class="row">

            <div class="col-md-6">
              <app-skill [skillName]="'Spring Boot'" [skillLevel]="100"></app-skill>
            </div>

            <div class="col-md-6">
              <app-skill [skillName]="'Angular'" [skillLevel]="100"></app-skill>
            </div>

          </div>

          <div class="row">

            <div class="col-md-6">
              <app-skill [skillName]="'Java'" [skillLevel]="100"></app-skill>
            </div>

            <div class="col-md-6">
              <app-skill [skillName]="'Typescript'" [skillLevel]="100"></app-skill>
            </div>

          </div>

          <div class="row">

            <div class="col-md-6">
              <app-skill [skillName]="'SQL, MYSQL, NOSQL & DB2'" [skillLevel]="80"></app-skill>
            </div>

            <div class="col-md-6">
              <app-skill [skillName]="'HTML,CSS,JS'" [skillLevel]="80"></app-skill>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
