<div class="section" id="skill">
    <div class="container">
      <div class="h4 text-center mb-4 title">Skills</div>
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="card-body">

          <div class="row">
            <!--LEFT 1-->
            <div class="col-md-6">
              <app-skill [skillName]="'Spring Boot'" [skillLevel]="100"></app-skill>
            </div>

            <div class="col-md-6">
            <!--RIGHT 1-->
              <app-skill [skillName]="'Angular'" [skillLevel]="100"></app-skill>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
            <!--LEFT 2-->
              <app-skill [skillName]="'Java'" [skillLevel]="100"></app-skill>
            </div>

            <div class="col-md-6">
            <!--RIGHT 2-->
              <app-skill [skillName]="'Typescript'" [skillLevel]="100"></app-skill>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
            <!--LEFT 3-->
              <app-skill [skillName]="'SQL, MYSQL, NOSQL & DB2'" [skillLevel]="80"></app-skill>
            </div>

            <div class="col-md-6">
              <!--RIGHT 3-->
              <app-skill [skillName]="'HTML,CSS,JS'" [skillLevel]="100"></app-skill>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <!--LEFT 4-->
              <app-skill [skillName]="'Docker'" [skillLevel]="100"></app-skill>
            </div>

            <div class="col-md-6">
              <!--RIGHT 4-->
              <app-skill [skillName]="'Android, Ionic, Xamarin'" [skillLevel]="80"></app-skill>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <!--LEFT 5-->
              <app-skill [skillName]="'ASP.NET/Core'" [skillLevel]="90"></app-skill>
            </div>

            <div class="col-md-6">
              <!--RIGHT 5-->
              <app-skill [skillName]="'Git'" [skillLevel]="100"></app-skill>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <!--LEFT 6-->
              <app-skill [skillName]="'C#'" [skillLevel]="90"></app-skill>
            </div>

            <div class="col-md-6">
              <!--RIGHT 6-->
              <app-skill [skillName]="'Azure, AWS, Firebase'" [skillLevel]="80"></app-skill>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <!--LEFT 7-->
              <app-skill [skillName]="'Kubernetes, Openshift'" [skillLevel]="75"></app-skill>
            </div>

            <div class="col-md-6">
              <!--RIGHT 7-->
              <app-skill [skillName]="'Apigee'" [skillLevel]="75"></app-skill>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <!--LEFT 7-->
              <app-skill [skillName]="'Prometheus, Splunk, Elasticsearch'" [skillLevel]="75"></app-skill>
            </div>

            <div class="col-md-6">
              <!--RIGHT 7-->
              <app-skill [skillName]="'Grafana, Kibana'" [skillLevel]="75"></app-skill>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
