<div class="section" id="experience">
  <div class="container py-2 cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="row">
      <ul class="timeline">
        <!-- CURRENT COMPANY -->
        <li>
          <div class="timeline-badge primary bg-green">
            <i class="fa fa-building"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">LEGO</div>
                <div class="h6 mt-0 title">Senior Software Engineer (2022 - Present)</div>
                <p align="justify">
                  Lego A/S is a Danish toy production company based in Billund, Denmark. It
                  manufactures Lego-brand
                  toys, consisting mostly of interlocking plastic bricks. The Lego Group has also
                  built several
                  amusement parks around the world, each known as Legoland, and operates numerous
                  retail stores
                </p>
                <p align="justify">Working as Full-stack developer in Digital Technology</p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Mentoring of software associates</li>
                  </ul>
                  <li class="list">Frameworks and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">AWS Serverless</li>
                        <li class="non_list">Typescript</li>
                        <li class="non_list">Spring Boot</li>
                        <li class="non_list">Java</li>
                        <li class="non_list">React</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Github Actions</li>
                        <li class="non_list">AWS EC2</li>
                        <li class="non_list">AWS S3</li>
                        <li class="non_list">AWS OpenSearch</li>
                        <li class="non_list">Elasticsearch</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- BANKDATA -->
        <li>
          <div class="timeline-badge previus">
            <i class="fa fa-building"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6">
                <div class="h5 mt-0 title">Bankdata</div>
                <div class="h6 mt-0 title">Senior Software Engineer (2021 - 2022)</div>
                <p align="justify">
                  The company is centrally located in Denmark, with it's headquarters in Fredericia
                  and development
                  houses in Fredericia, Silkeborg and Aarhus, as well as a branch in India. Bankdata
                  is the one of the
                  largest financial IT development houses in Denmark.
                </p>
                <p align="justify">Working as Full-stack developer for Capital Market team</p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Onboarding of new hires</li>
                  </ul>
                  <li class="list">Frameworks and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Spring Boot</li>
                        <li class="non_list">Java</li>
                        <li class="non_list">DB2</li>
                        <li class="non_list">COBOL</li>
                        <li class="non_list">Angular</li>
                        <li class="non_list">Typescript</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Jenkins</li>
                        <li class="non_list">Git</li>
                        <li class="non_list">Openshift</li>
                        <li class="non_list">Splunk</li>
                        <li class="non_list">Grafana</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- SCHNEIDER -->
        <li>
          <div class="timeline-badge previus">
            <i class="fa fa-building"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6 ">
                <div class="h5 mt-0 title">Schneider Eletric</div>
                <div class="h6 mt-0 title">Software Engineer (2019 - 2021)</div>
                <p align="justify">
                  Schneider Electric (SE) provides energy and automation digital solutions for
                  efficiency and sustainability. SE combines
                  world-leading energy technologies, real-time automation, software and services
                  into integrated
                  solutions for Homes, Buildings, Data Centers, Infrastructure and Industries.
                </p>
                <p align="justify">Working as Full-stack developer for team Ecostruxure IT</p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                  </ul>
                  <li class="list">Frameworks and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Spring Boot</li>
                        <li class="non_list">Java</li>
                        <li class="non_list">Cassandra</li>
                        <li class="non_list">Angular</li>
                        <li class="non_list">Typescript</li>
                        <li class="non_list">Kafka</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Jenkins</li>
                        <li class="non_list">Git</li>
                        <li class="non_list">Kubernetes</li>
                        <li class="non_list">Kibana</li>
                        <li class="non_list">Grafana</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- OTICON -->
        <li>
          <div class="timeline-badge previus">
            <i class="fa fa-building"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6 ">
                <div class="h5 mt-0 title">Oticon</div>
                <div class="h6 mt-0 title">Consultant (2017 - 2018)</div>
                <p align="justify">
                  Oticon is among the three largest companies worldwide within the hearing solutions
                  business. As
                  technology leaders of the industry, they constantly strive towards the vision: a
                  world where hearing
                  loss is no limitation. They challenge conventions and push the limits of
                  technology to change the
                  lives of people with hearing loss.
                </p>
                <p align="justify">Working as mobile app consultant on the "Opn" project</p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Mobile app Development</li>
                  </ul>
                  <li class="list">Frameworks and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Xamarin</li>
                        <li class="non_list">C#</li>
                        <li class="non_list">MySQL</li>
                        <li class="non_list">Bluetooth LTE</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Microsoft Azure</li>
                        <li class="non_list">Git</li>
                        <li class="non_list">Testflight</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>